<nav class="navbar">
    <div class="navbar-header">
        <h1 class="site-title">Recipes Website</h1>
        <div class="auth-links">
            <% if(token){ %>
                <a href="/users/logout">Logout</a>
            <% } else { %>     
                <a href="/users/login">Login</a>
                <a href="/users/register">Register</a>
            <% } %>
        </div>
    </div>
    <ul class="navbar-menu">
        <% if(token){ %>
            <li><a href="/recipes/recipes">All Recipes</a></li>
            <li><a href="/recipes/add-recipes">Add Recipe</a></li>
        <% } %>
    </ul>
</nav>



