<form action="/users/login" method="POST" class="login-form">

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="gino@gmail.com" required>
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="Alice12345!" required>
    </div>

    <button type="submit" class="submit-btn">Accedi</button>
</form>
<button class="retour-button"><a href="/recipes/recipes"> Home page</a></button>